/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 3
   Tutorial Case

   Sunny Acres Style Sheet
   Author: Scott Cordle
   Date:   October 19, 2011

   Filename:         farm.css
   Supporting Files: none

*/

address {text-align: center}