/*
Name: Elisabeth Feeley
Date: 4/30/2012
Description: MLK CSS Page
Assistance: N/A
*/

body {
   color: black;
   background-color: rgb(204,204,153);
   margin: 0em;
   font-size: .9em;
}

#banner {
   float: left;
}

#pageContent {
   width: 42em;
   margin-left: 4em;
}

h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   letter-spacing: .5em;
   text-align: center;
   padding: 0.2em;
   color: rgb(204,204,153);
   background-color: rgb(102,102,204);
}

em {
   font-weight: bold;
   color: rgb(102,102,204);
}

address {
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-variant: small-caps;
   font-size: .7em;
   color: rgb(102,102,204);
   text-align: center;
   padding: 0.5em;
   border-top: 0.1em solid rgb(102,102,204);
   clear: right;
}