/*
	Name: Elisabeth Feeley
	Date: 5/22/2012
	Description: CSS sheet 
	Assistance: N/A

*/

table.roundedBox {
   margin: 5px;
   border-collapse: collapse;
}

table.roundedBox td{
   padding: 0px;
}

table.roundedBox td.topLeft {
   width: 16px;
   height: 16px;
}

table.roundedBox td.topRight {
   width: 16px;
   height: 16px;
}

table.roundedBox td.bottomLeft {
   width: 16px;
   height: 16px;
}

table.roundedBox td.bottomRight {
   width: 16px;
   height: 16px;
}

table.rounded td.top {
   width: auto;
   height: 16px;
}

table.rounded td.bottom{
   width: auto;
   height: 16px;
}

table.rounded td.top {
   width: 16px;
   height: auto;
}
table.rounded td.top {
   width: 16px;
   height: auto;
}

.topLeft {
   background: url(topleft.png) no-repeat top left;
}

.topRight {
   background: url(topright.png) no-repeat top right;
}

.bottomLeft {
   background: url(bottomleft.png) no-repeat bottom left;
}

.bottomRight {
   background: url(bottomright.png) no-repeat bottom right;
}

.top {
   background: url(top.png) repeat-x top;
}

.bottom {
   background: url(bottom.png) repeat-x bottom;
}

.left {
   background: url(left.png) repeat-y left;
}

.right {
   background: url(right.png) repeat-y right;
}

div.roundedBox {
   margin: 5px;
   position: relative
}

div.boxContent {
   padding: 16px;
}